#GIF:hover {
    position: absolute;
    top: 0; left: 0; right: 0; bottom: 0;
    margin: auto;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    width: 300px;
    height: 300px;
    animation: giffy 2.0s infinite steps(1);
    animation-play-state: running;
}

#GIF {
    position: absolute;
    top: 0; left: 0; right: 0; bottom: 0;
    margin: auto;
    background-image: url('img/frame_00_delay-0.04s.gif');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    width: 300px;
    height: 300px;
    animation: giffy 2.0s infinite steps(1);
    animation-play-state:paused;
}

@keyframes giffy {
    0%      { background-image: url('img/frame_00_delay-0.04s.gif'); } 
    1.4%    { background-image: url('img/frame_01_delay-0.04s.gif'); } 
    2.8%    { background-image: url('img/frame_02_delay-0.04s.gif'); } 
    4.2%    { background-image: url('img/frame_03_delay-0.04s.gif'); } 
    5.7%    { background-image: url('img/frame_04_delay-0.04s.gif'); } 
    7.1%    { background-image: url('img/frame_05_delay-0.04s.gif'); } 
    8.5%    { background-image: url('img/frame_06_delay-0.04s.gif'); } 
    10%     { background-image: url('img/frame_07_delay-0.04s.gif'); } 
    11%     { background-image: url('img/frame_08_delay-0.04s.gif'); } 
    12%     { background-image: url('img/frame_09_delay-0.04s.gif'); } 
    14%     { background-image: url('img/frame_10_delay-0.04s.gif'); } 
    15%     { background-image: url('img/frame_11_delay-0.04s.gif'); } 
    17%     { background-image: url('img/frame_12_delay-0.04s.gif'); } 
    18%     { background-image: url('img/frame_13_delay-0.04s.gif'); } 
    20%     { background-image: url('img/frame_14_delay-0.04s.gif'); } 
    21%     { background-image: url('img/frame_15_delay-0.04s.gif'); } 
    22%     { background-image: url('img/frame_16_delay-0.04s.gif'); } 
    24%     { background-image: url('img/frame_17_delay-0.04s.gif'); } 
    25%     { background-image: url('img/frame_18_delay-0.04s.gif'); } 
    27%     { background-image: url('img/frame_19_delay-0.04s.gif'); } 
    28%     { background-image: url('img/frame_20_delay-0.04s.gif'); } 
    30%     { background-image: url('img/frame_21_delay-0.04s.gif'); } 
    31%     { background-image: url('img/frame_22_delay-0.04s.gif'); } 
    32%     { background-image: url('img/frame_23_delay-0.04s.gif'); } 
    34%     { background-image: url('img/frame_24_delay-0.04s.gif'); } 
    35%     { background-image: url('img/frame_25_delay-0.04s.gif'); } 
    37%     { background-image: url('img/frame_26_delay-0.04s.gif'); } 
    38%     { background-image: url('img/frame_27_delay-0.04s.gif'); } 
    40%     { background-image: url('img/frame_28_delay-0.04s.gif'); } 
    41%     { background-image: url('img/frame_29_delay-0.04s.gif'); } 
    42%     { background-image: url('img/frame_30_delay-0.04s.gif'); } 
    44%     { background-image: url('img/frame_31_delay-0.04s.gif'); } 
    45%     { background-image: url('img/frame_32_delay-0.04s.gif'); } 
    47%     { background-image: url('img/frame_33_delay-0.04s.gif'); } 
    48%     { background-image: url('img/frame_34_delay-0.04s.gif'); } 
    50%     { background-image: url('img/frame_35_delay-0.04s.gif'); } 
    51%     { background-image: url('img/frame_36_delay-0.04s.gif'); } 
    52%     { background-image: url('img/frame_37_delay-0.04s.gif'); } 
    54%     { background-image: url('img/frame_38_delay-0.04s.gif'); } 
    55%     { background-image: url('img/frame_39_delay-0.04s.gif'); } 
    57%     { background-image: url('img/frame_40_delay-0.04s.gif'); } 
    58%     { background-image: url('img/frame_41_delay-0.04s.gif'); } 
    60%     { background-image: url('img/frame_42_delay-0.04s.gif'); } 
    61%     { background-image: url('img/frame_43_delay-0.04s.gif'); } 
    62%     { background-image: url('img/frame_44_delay-0.04s.gif'); } 
    64%     { background-image: url('img/frame_45_delay-0.04s.gif'); } 
    65%     { background-image: url('img/frame_46_delay-0.04s.gif'); } 
    67%     { background-image: url('img/frame_47_delay-0.04s.gif'); } 
    68%     { background-image: url('img/frame_48_delay-0.04s.gif'); } 
    70%     { background-image: url('img/frame_49_delay-0.04s.gif'); } 
    71%     { background-image: url('img/frame_50_delay-0.04s.gif'); } 
    72%     { background-image: url('img/frame_51_delay-0.04s.gif'); } 
    74%     { background-image: url('img/frame_52_delay-0.04s.gif'); } 
    75%     { background-image: url('img/frame_53_delay-0.04s.gif'); } 
    77%     { background-image: url('img/frame_54_delay-0.04s.gif'); } 
    78%     { background-image: url('img/frame_55_delay-0.04s.gif'); } 
    80%     { background-image: url('img/frame_56_delay-0.04s.gif'); } 
    81%     { background-image: url('img/frame_57_delay-0.04s.gif'); } 
    82%     { background-image: url('img/frame_58_delay-0.04s.gif'); } 
    84%     { background-image: url('img/frame_59_delay-0.04s.gif'); } 
    85%     { background-image: url('img/frame_60_delay-0.04s.gif'); } 
    87%     { background-image: url('img/frame_61_delay-0.04s.gif'); } 
    88%     { background-image: url('img/frame_62_delay-0.04s.gif'); } 
    90%     { background-image: url('img/frame_63_delay-0.04s.gif'); } 
    91%     { background-image: url('img/frame_64_delay-0.04s.gif'); } 
    92%     { background-image: url('img/frame_65_delay-0.04s.gif'); } 
    94%     { background-image: url('img/frame_66_delay-0.04s.gif'); } 
    95%     { background-image: url('img/frame_67_delay-0.04s.gif'); } 
    97%     { background-image: url('img/frame_68_delay-0.04s.gif'); } 
    100%    { background-image: url('img/frame_69_delay-0.04s.gif'); }
}